<p id="notice"><%= notice %></p>

<% unless @user.photo_url.nil? %>
  <p><%= image_tag @user.photo_url %></p>
<% end %>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Password digest:</b>
  <%= @user.password_digest %>
</p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Contact email:</b>
  <%= @user.contact_email %>
</p>

<p>
  <b>Contact phone:</b>
  <%= @user.contact_phone %>
</p>

<p>
  <b>Admin:</b>
  <%= @user.admin %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
