<h1>Listing properties</h1>

<table>
  <tr>
    <th>Street address</th>
    <th>Property type</th>
    <th>Owner</th>
    <th>Manager</th>
    <th>Price per period</th>
    <th>Period type</th>
    <th>Purpose</th>
    <th>Owner name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @properties.each do |property| %>
  <tr>
    <td><%= property.street_address %></td>
    <td><%= property.property_type %></td>
    <td><%= property.owner_id %></td>
    <td><%= property.manager_id %></td>
    <td><%= property.price_per_period %></td>
    <td><%= property.period_type %></td>
    <td><%= property.purpose %></td>
    <td><%= property.owner_name %></td>
    <% if can? :read, @property %>
        <td><%= link_to 'Show', property %></td>
    <% end %>
    <% if can? :update, @property %>
        <td><%= link_to 'Edit', edit_property_path(property) %></td>
    <% end %>
    <% if can? :delete, @property %>
        <td><%= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Property', new_property_path, class: "btn btn-large btn-primary" %>

