<h1>Listing properties</h1>

<table>
  <tr>
    <th>Number of rooms</th>
    <th>Number of bedrooms</th>
    <th>Number of bathrooms</th>
    <th>Parking allotment</th>
    <th>Internet included</th>
    <th>Street address</th>
    <th>Property type</th>
    <th>Owner</th>
    <th>Manager</th>
    <th>Price per period</th>
    <th>Period type</th>
    <th>Purpose</th>
    <th>Owner name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @properties.each do |property| %>
  <tr>
    <% unless @friend.photo_url.nil? %>
        <p><%= image_tag @friend.photo_url %></p>
    <% end %>
    <td><%= property.number_of_rooms %></td>
    <td><%= property.number_of_bedrooms %></td>
    <td><%= property.number_of_bathrooms %></td>
    <td><%= property.parking_allotment %></td>
    <td><%= property.internet_included %></td>
    <td><%= property.street_address %></td>
    <td><%= property.property_type %></td>
    <td><%= property.owner_id %></td>
    <td><%= property.manager_id %></td>
    <td><%= property.price_per_period %></td>
    <td><%= property.period_type %></td>
    <td><%= property.purpose %></td>
    <td><%= property.owner_name %></td>
    <td><%= link_to 'Show', property %></td>
    <td><%= link_to 'Edit', edit_property_path(property) %></td>
    <td><%= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Property', new_property_path %>
